@font-face {
    font-family: 'Montserrat-Regular';
    src: url('assets/fonts/Montserrat-Regular.ttf');
}

.main {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat-Regular', 'sans-serif';
    margin: 0;
}
